/*colors*/

.color-is-white {
  color: white;
}
.color-is-primary {
  color: #50E3C2;
}
.color-is-primary:hover {
  color: white;
}

.color-is-light {
  color: #e6e6e6;
}

.color-is-dark {
  color: #333;
}
.color-is-dark:hover {
  color: white;
}
.color-is-black {
  color: #000;
}
.color-is-black:hover {
  color: white;
}
.color-is-warning {
  color: #ffff00;
}
.color-is-danger {
  color: #ff0000;
}
.color-is-success {
  color: #21D369;
}
.color-is-success:hover {
  color: white;
}
.color-is-info {
  color: blue;
}
.color-is-info:hover {
  color: white;
}
