/*backgrounds*/

.bg-is-primary {
  background: #50E3C2;
}
.bg-is-primary:hover {
  background: black;
}

.bg-is-light {
  background: #e6e6e6;
}
.bg-is-light:hover {
  background: black;
}

.bg-is-dark {
  background: #333;
}
.bg-is-dark:hover {
  background: black;
}

.bg-is-warning {
  background: #ffff00;
}
.bg-is-warning:hover {
  background: black;
}

.bg-is-danger {
  background: #ff0000;
}
.bg-is-danger:hover {
  background: black;
}

.bg-is-success {
  background: #21D369;
}
.bg-is-success:hover {
  background: black;
}

.bg-is-info {
  background: blue;
}
.bg-is-info:hover {
  background: black;
}

/*colors*/

.color-is-white {
  color: white;
}
.color-is-primary {
  color: #50E3C2;
}
.color-is-primary:hover {
  color: white;
}

.color-is-light {
  color: #e6e6e6;
}
.color-is-dark {
  color: #333;
}
.color-is-black {
  color: #000;
}
.color-is-warning {
  color: #ffff00;
}
.color-is-danger {
  color: #ff0000;
}
.color-is-success {
  color: #21D369;
}
.color-is-info {
  color: blue;
}

/*border colors*/

.border-is-primary {
  border: solid 2px #50E3C2;
}
.border-is-primary:hover {
  background: #50E3C2;
}
.border-is-info {
  border: solid 2px blue;
}
.border-is-light {
  border: solid 2px #e6e6e6;
}
.border-is-dark {
  border: solid 2px #333;
}
.border-is-black {
  border: solid 2px #000;
}
.border-is-warning {
  border: solid 2px #ffff00;
}
.border-is-danger {
  border: solid 2px #ff0000;
}
.border-is-success {
  border: solid 2px #21D369;
}
