.head--menu {
  list-style: none;
  display: inline-block;
}

.menu--items {
  display: inline-block;
}

.menu--items + .menu--items {
  margin-left: 10px;
}
.menu--button {
  border-top: solid 2px black;
  border-right: solid 6px black;
  border-left: solid 2px black;
  border-bottom: solid 6px black;
  background: white;
  padding: 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.menu--button:hover {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
  cursor: pointer;
}

.menu--button.button--text:hover {
  color: white;
}

.menu--button.button--text {
  color: black;
}

.foot--button {
  border-top: solid 2px black;
  border-right: solid 6px black;
  border-left: solid 2px black;
  border-bottom: solid 6px black;
  background: white;
  padding: 10px;
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}

.foot--button:hover {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
  cursor: pointer;
  margin: 0 10px;
}


.box--container {
  border-top: solid 2px black;
  border-right: solid 6px black;
  border-left: solid 2px black;
  border-bottom: solid 6px black;
  background: white;
  padding: 20px;
  position: relative;
}

.box--margin {
  margin: 20px 0;
}

.button {
  border-radius: 3px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.button:hover {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px 10px 15px;
}

.tag {
  border-radius: 7px;
  display: inline-block;
  padding: 10px 20px;
  margin: 2px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.tag:hover {
  cursor: pointer;
  margin: 2px 30px 2px 30px;
}
