<!DOCTYPE html>
<div class="row box--margin">
  <div class="column-1" >
    <div class="box--container">
      <div class="box--text">Outlined type</div>
      <div class="box--margin"></div>
      <div class="button border-is-primary">
        <div class="button--text text-center color-is-primary">Primary</div>
      </div>
      <div class="button border-is-info">
        <div class="button--text text-center color-is-info">Info</div>
      </div>
      <div class="button border-is-light">
        <div class="button--text text-center color-is-dark">Light</div>
      </div>
      <div class="button border-is-dark">
        <div class="button--text text-center color-is-dark">Dark</div>
      </div>
      <div class="button border-is-warning">
        <div class="button--text text-center color-is-dark">Warning</div>
      </div>
      <div class="button border-is-danger">
        <div class="button--text text-center color-is-dark">Danger</div>
      </div>
      <div class="button border-is-success">
        <div class="button--text text-center color-is-success">Success</div>
      </div>
    </div>
  </div>
</div>
