<!DOCTYPE html>
<div class="row">
  <div class="column-2">
    <div class="menu--button head--title">Stylesheet di Filippo</div>
  </div>
  <div class="column-2 column-2--text-right">
    <ul class="header--menu">
      <li class="menu--items"><a href="#"><div class="menu--button head--text--items">1</div></a></li>
      <li class="menu--items"><a href="#"><div class="menu--button head--text--items">2</div></a></li>
      <li class="menu--items"><a href="#"><div class="menu--button head--text--items">3</div></a></li>
      <li class="menu--items"><a href="#"><div class="menu--button head--text--items">4</div></a></li>
    </ul>
  </div>
</div>
