<!DOCTYPE html>
<div class="row box--margin">
  <div class="column-1" >
    <div class="box--container">
      <div class="title box--text--thick">Tags</div>
      <div class="box--margin"></div>
      <div class="tag bg-is-primary"><div class="tag--text text-center color-is-white">Primary</div>
      </div>
      <div class="tag bg-is-info">
        <div class="tag--text text-center color-is-white">Info</div>
      </div>
      <div class="tag bg-is-light">
        <div class="tag--text text-center color-is-white">Light</div>
      </div>
      <div class="tag bg-is-dark">
        <div class="tag--text text-center color-is-white">Dark</div>
      </div>
      <div class="tag bg-is-warning">
        <div class="tag--text text-center color-is-white">Warning</div>
      </div>
      <div class="tag bg-is-danger">
        <div class="tag--text text-center color-is-white">Danger</div>
      </div>
      <div class="tag bg-is-success">
        <div class="tag--text text-center color-is-white">Success</div>
      </div>
    </div>
  </div>
</div>
