<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Filippo's cheat sheet</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/typography.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/structures.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/components.css">


</head>

<body>
  {% include layout/header.html %}

  {{ content }}

  {% include layout/footer.html %}
</body>
</html>
